/*tablet and laptop*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    padding-top:1%;
    padding-bottom:2%;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 1px;
  }
  #form_body {
    text-align: center;
    background: url('../book.jpg');
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 0.75px;
    color:#1C2833;
    font-size:1em;
    font-weight: bold;
  }

  input {
    width: 50%;
    padding: 10px 15px;
    margin: 10px;
    display: inline-block;
    border: solid #F2F3F4;
    border-radius: 30px 30px 30px 30px;
  }
  #sign_up{
    background-color: #566573;
    display: inline-block;
    font-size: 15px;
  }
}
  
/*For mobile*/
@media only screen and (min-width: 320px) {
  h1 {
    font-size: 30px;
    padding-top:12%;
    padding-bottom:2%;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 1px;
  }
  #form_body {
    background-color: #F2F3F4;
    background: url('../book.jpg');
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: 0.75px;
    color:#1C2833;
    font-size:1.25em;
    font-weight: bold;
  }
  input {
    width: 60%;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    border: solid #F2F3F4;
    border-radius: 15px 15px 15px 15px;
  }
  #sign_up{
    background-color: #566573;
    display: inline-block;
    font-size: 20px;
  }
}